<!--This is your show page of a specific talker || views/fruits/show.ejs-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=talkers.name%></title>
    <!--for a better title based-->
  </head>
  <body>
    <h1><%= talkers.name %></h1>
    <% if (talkers.story) { %>
    <p><%=talkers.story%></p>
    <% } else { %>
    <p>This talker does not want to be heard</p>
    <% } %>
    <!-- new delete button -->
    <form action="/talkers/<%=talkers._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= talkers.name %></button>
    </form>
    <!-- This is the edit page link -->
<a href="/talkers/<%= talkers._id %>/edit">Edit <%= talkers.name %></a><br>
    <a href="/pages/">Back to talkers</a>
  </body>
</html>
